# Discord Bot Configuration
DISCORD_TOKEN=

# AI Agent Configuration (Agno)
LLM_API_KEY=

# News API Configuration
NEWS_API_KEY=

# Email SMTP Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=